@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  /* Colors */
  --color-natural: #dfd8bf;
  --color-beige: #d1be98;
  --color-coral: #ef940c;
  --color-naranja: #e87313;
  --color-celeste: #4dbba7;
  --color-turquesa: #2c7265;
  --color-marron: #5f3623;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

/* transiciones */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* tipeo maquina de escribir 
@keyframes blick {
  to {
    background: transparent;
    opacity: 0;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}*/

/* NavBar */
header {
  background-color: var(--color-beige);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 30px;
  height: 65px;
  box-shadow: 0 5px 10px 0px gray;
  position: fixed;
  top: 0;
  z-index: 2;
}
.logo {
  height: 110%;
  z-index: 3;
}
.list_nav {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}
.nav {
  display: flex;
  align-items: center;
}
#toggle {
  display: none;
}
.nav i {
  font-size: 36px;
  display: none;
}
.link_nav a {
  text-decoration: none;
  color: inherit;
}
.link_nav {
  transition: transform 0.2s ease-in;
}
.link_nav:hover {
  color: #2c7265;
  cursor: pointer;
  transform: scale(1.1);
}
.link_nav:active {
  color: var(--color-celeste);
}
.contacto:active {
  color: black;
}
.contacto {
  background-color: var(--color-celeste);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px 5px 0 var(--color-turquesa);
}
body {
  background-color: var(--color-natural);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  width: 100%;
}
.overlay {
  position: absolute;
  background: rgba(129, 128, 128, 0.1);
  width: 100vw;
  height: 100vh;
  top: 65px;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: none;
}
/* Section hero e info*/
#hero,
#info {
  display: flex;
  align-items: center;
  padding: 0 0 70px;
  gap: 50px;
  background-color: var(--color-natural);
}
#hero {
  padding-top: 70px;
  justify-content: space-around;
  max-width: 1200px;
}
#info {
  justify-content: center;
  opacity: 0;
  animation: fade 0.9s ease-in-out forwards;
  animation-delay: 0.4s;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.info h1 {
  font-size: 36px;
  font-weight: 800;
  min-width: 500px;
  text-transform: uppercase;
  background: linear-gradient(
    0deg,
    rgba(232, 115, 19, 1) 0%,
    rgba(95, 54, 35, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}
/* ANIMACION MAQUINA DE ESCRIBIR

.info h1 > span {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(232, 115, 19, 1) 0%,
    rgba(95, 54, 35, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.info h1 > span::before,
.info h1 > span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-natural);
}
.info h1 > span::before {
  background-color: var(--color-natural);
  animation: typewriter 2s 1.4s steps(9) forwards;
}
.info h1 > span::after {
  width: 0.1rem;
  background: linear-gradient(
    0deg,
    rgba(232, 115, 19, 1) 0%,
    rgba(95, 54, 35, 1) 100%
  );
  animation: typewriter 2s 1.4s steps(9) forwards, blick 0.8s steps(10) infinite;
} */
.info p {
  opacity: 0;
  font-size: 16px;
  width: 80%;
  animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.3s;
}
.info p > span {
  font-weight: 800;
}
.button {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  animation: fade 0.8s ease-in 0.4s forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.4s;
}
.info a {
  background-color: var(--color-coral);
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--color-marron);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: 3px solid var(--color-coral);
  box-shadow: 1px 1px 5px 0 gray;
  transition: transform 0.2s ease-in;
}

.info a:hover {
  color: var(--color-turquesa);
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
}
.info a:active {
  color: black;
}
.info a:last-child {
  border: 3px solid var(--color-naranja);
  background-color: unset;
}
#hero img {
  width: 450px;
  opacity: 0;
  animation: slide-right 1.3s ease-in-out, fade 1s ease-in forwards;
  animation-delay: 0.2s;
}
/* Section info */
#info {
  padding-top: 70px;
  width: 100%;
  background-image: url("./assets/trama2.jpg");
  background-size: 40%;
}
.description {
  background-color: var(--color-natural);
  text-align: center;
  font-size: 20px;
  max-width: 1000px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px 0 gray;
}
/* Section Advantages */
.advantages {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 1200px;
  padding: 70px 0 70px;
  gap: 30px;
}
.advantages h2 {
  text-transform: uppercase;
  opacity: 0;
  animation: fade 0.8s ease-in-out forwards, slide-up 1s ease-in-out;
  animation-delay: 0.4s;
}
.advantages p {
  opacity: 0;
  animation: fade 0.9s ease-in-out forwards;
  animation-delay: 0.4s;
}
.cards-container {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(77, 187, 167, 1) 0%,
    rgba(209, 190, 152, 1) 100%
  );
  box-shadow: gray 2px 2px 5px;
  opacity: 0;
}
.card:nth-child(1) {
  animation: fade 0.8s ease-in-out forwards, slide-up 1s ease-in-out;
  animation-delay: 0.4s;
}
.card:nth-child(2) {
  animation: fade 0.9s ease-in-out forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.3s;
}
.card:nth-child(3) {
  animation: fade 0.9s ease-in-out forwards, slide-up 0.8s ease-in-out;
  animation-delay: 0.2s;
}
.card:nth-child(4) {
  animation: fade 0.8s ease-in-out forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.5s;
}
.card:nth-child(5) {
  animation: fade 0.8s ease-in-out forwards, slide-up 0.8s ease-in-out;
  animation-delay: 0.4s;
}
.card:hover h3 {
  animation: zoom 0.8s ease;
}
.card > p {
  font-size: 14px;
}
.card > img {
  width: 50px;
}
/* contacto */
.contact {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.contact > .mapa {
  height: 400px;
  overflow: hidden;
  opacity: 0;
  animation: slide-right 1.3s ease-in-out, fade 1s ease-in forwards;
  animation-delay: 0.2s;
}
.info-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding-left: 10%;
  opacity: 0;
  animation: fade 0.8s ease-in 0.4s forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.4s;
}
.info-contact {
  display: flex;
  gap: 60px;
}
.contact1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 208px;
}
.contact1 p:first-child {
  font-weight: 600;
}
.contact1 > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact1 img {
  width: 20px;
}
.redes {
  display: flex;
  gap: 10px;
}
.redes a > img {
  width: 30px;
}
/* footer */
.footer img {
  width: 200px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 30px;
  opacity: 70%;
  border-top: 1px solid grey;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .description {
    max-width: 900px;
  }
  #hero {
    max-width: 950px;
  }
  .cards-container {
    max-width: 700px;
  }
  .advantages {
    align-items: center;
  }
  .card {
    width: 300px;
    height: 300px;
  }
  .info {
    padding-left: 2%;
  }
}
@media (max-width: 992px) {
  #hero > img {
    width: 300px;
  }
  .info h1 {
    min-width: 100px;
    font-size: 28px;
  }
  .description {
    max-width: 740px;
  }
  .advantages > p {
    width: auto;
    padding: 0 10px;
  }
  .info-contact-container {
    padding: 2%;
  }
  .info-contact {
    gap: 20px;
  }
  .contact > .mapa {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    gap: 20px;
  }
  #hero {
    flex-direction: column;
  }
  #hero > img {
    width: 450px;
  }
  .info {
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .description {
    font-size: 16px;
    width: 550px;
  }
  #info {
    height: 300px;
  }
  .card {
    height: auto;
    width: 500px;
  }
  .contact {
    flex-direction: column;
    gap: 30px;
  }
  .info-contact-container {
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .info-contact {
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .card > p {
    display: none;
  }
  .list_nav {
    position: absolute;
    top: 64px;
    right: 5%;
    left: 5%;
    align-items: center;
    font-size: 20px;
    background-color: var(--color-beige);
    border: 3px solid var(--color-celeste);
    border-top: 0;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    width: 90%;
    padding: 45px 30px;
    gap: 50px;
    transform: translateY(-200%);
    transition: transform 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    display: none;
  }
  .nav i {
    display: block;
  }
  #toggle:checked ~ .list_nav {
    display: flex;
    z-index: 2;
    transform: translateY(0%);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #toggle:checked ~ .overlay {
    display: block;
  }
  #hero > img {
    width: 90%;
  }
  .cards-container {
    max-width: 90%;
  }
  .advantages {
    max-width: 90%;
  }
  .description {
    width: 90%;
  }
  .info-contact {
    font-size: 0.8em;
    gap: 10px;
  }
  #info {
    height: 350px;
  }
}
