@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --color-natural: #dfd8bf;
  --color-beige: #d1be98;
  --color-coral: #ef940c;
  --color-naranja: #e87313;
  --color-celeste: #4dbba7;
  --color-turquesa: #2c7265;
  --color-marron: #5f3623;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--color-natural);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px;
  box-shadow: 0 5px 10px 0px gray;
}

body {
  font-family: Montserrat;
  font-size: 1.1rem;
  /* Posible fondo trama 
  background-image: url(/E2_Nav/assets/trama2.jpg);
  background-size: 800px; 
  */
}

nav {
  display: flex;
}

.list_nav {
  display: flex;
  gap: 20px;
  width: 500px;
  justify-content: space-around;
  align-items: center;
}

.link_nav {
  list-style: none;
}

.link_nav:hover {
  color: #2c7265;
  cursor: pointer;
}

.contacto {
  background-color: var(--color-celeste);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px 5px 0 var(--color-turquesa);
}

#logo {
  width: 110px;
}
